<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tornillos y Anclajes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Carrito.css') }}">
</head>
<body>
    <h1>Tornillos y Anclajes</h1>
    <ul>
        {% for producto in productos %}
            <li>
                <img src="{{ producto[4] }}" alt="{{ producto[1] }}" style="width:100px;height:100px;">
                {{ producto[1] }} - {{ producto[2] }} CLP - Stock: {{ producto[3] }}
                <form method="POST" action="{{ url_for('agregar_al_carrito') }}">
                    <input type="hidden" name="producto_id" value="{{ producto[0] }}">
                    <input type="number" name="cantidad" value="0" min="1" max="{{ producto[3] }}">
                    <button type="submit">Agregar al Carrito</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('ver_carrito') }}">Ver Carrito</a>
</body>
</html>
